<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GoGoCalendar - {{block "title" .}}Title is not set!{{end}}</title>
    <!-- Meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <link href="/assets/css/tailwind.css" rel="stylesheet">
</head>

{{block "header" .}}{{end}}
{{block "content" .}}There is no content set for this page.{{end}}
{{block "footer" .}}{{end}}

</html>